@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F5E8C7;
  color: #261C2C;
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #3E2C41;
  font-size: 5rem;
  text-align: center;
  opacity: 0.8;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 800px;
  padding: 2rem;
  border-radius: 20px;
  
}

label{
    color: #9E7777;
    font-size: 2rem;
}

.input {
  border: none;
  color: #444;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 1rem;
  display: block;
  width: 100%;

}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: #9E7777;
}

.btn{
    background-color: #6F4C5B;
    color: #fff;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1rem;
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}



a{
  color:#3E2C41;
  padding: 1rem;
}

h2{
    color: #9E7777;
    font-size: 1.5rem;
    text-align: center;

}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
}